
 @font-face { font-family: modithorsongrad; src: url('modithorsongrad.ttf'); } 
 @font-face { font-family: modithorsonexpandital; src: url('modithorsonexpandital.ttf'); } 


*{
font-family: modithorsongrad;
text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}
body{
  background-color: black
}
canvas {
  display:block;
  border: 1px solid black;
  margin: 0 auto;
  
}
h1 {
  padding-top: 15px;
  margin: auto;
  text-align: center;
  height: 50px;
  margin:5px;
  color:black;
  font-size: 60px;

  
}

#scoreboard {
  color:black;

  
}

#score {
  color:black;

}
#Board {
  display: flex;
  flex-direction: column;
  width: 19%;
  font-size: 10px;
  position: absolute;
  font-size: 12px;
}

