@font-face { font-family: modithorsongrad; src: url('modithorsongrad.ttf'); } 
@font-face { font-family: modithorsonexpandital; src: url('modithorsonexpandital.ttf'); } 


*{
font-family: modithorsongrad;
text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
font-size: 28px;
/* outline: 2px solid red */
}
body{
    background-color: black;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
  }

  /* @media (max-width: 90vh) {
    table {
        display: block;
    }
    tr {
        display: block;
    }
    td {
        display: block;
    }
} */
#canvas {
margin: 2px; 
 min-width: 68%;
}
#highscores-table  {
    min-width: 15%;

}
#highscores {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    margin-top: 5%

}
#scoreboard {
    min-width: 15%;
    text-align: center 
}
.scoreboard {
    display: flex;
    margin-top: 5%
}


#score {
 color:black;
 font-family: modithorsongrad;
 height: 10px;

}
h1 {
 color:black;
 font-size: 100px;
 text-align: center;
 margin:0;
 padding: 15px

}
/* h2 {
    padding-right: 5px;

} */


