*{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#main-play-area {
  width: 600px;
  height: 380px;
  background-image: url('images/backgroun2.jpg_large');
  background-size: cover;
  margin:auto;
}

h1 {
  margin: auto;
  text-align: center;
  height: 50px;
  margin:25px;
}
#instructions-text {
  position: relative;
  color: white;
  left: 35px;
  top: 0px;
}
#start-button {
  position: relative;
  color: white;
  left: 140px;
  top: 80px;
}
#start-button:hover {
  cursor: pointer;
}
#player {
  width: 50px;
  height: 50px;
  position: relative;
  left: 20px;
  top: 180px;
  transform: rotate(-90deg);
}

.laser {
  width: 20px;
  height: 10px;
  position: relative;
}

